[Unit]
Description=E-ink paper display service
Requires=redis.service
After=redis.service

[Timer]
OnBootSec=10m
OnUnitActiveSec=10m
Unit=waveshare-epd2in66b-display.service

[Install]
WantedBy=multi-user.target